In [ ]:
# import IPython
# app = IPython.Application.instance()
# app.kernel.do_shutdown(restart=True)

In [6]:

import sys
import os

from db_connection import access_db_for_test

client = access_db_for_test()

query = "SELECT * FROM SBOX_ISRAEL.RECEITAS"
result = client.query(query).to_dataframe()

result.dtypes

DATA                 dbdate
TOTAL_NOTAS           Int64
NOTAS_REALIZADAS      Int64
VALOR_TOTAL         float64
CEPS                 object
CREATED_AT           dbdate
dtype: object

In [7]:
result.sort_values(by="DATA").tail()

,DATA,TOTAL_NOTAS,NOTAS_REALIZADAS,VALOR_TOTAL,CEPS,CREATED_AT
19,2025-11-04,55,54,1233.0,"30, 31, 32, 33, 34",2025-11-08
16,2025-11-05,41,40,987.0,"30, 31, 32, 33, 34",2025-11-08
14,2025-11-06,38,36,939.0,"30, 31, 32, 33, 34",2025-11-08
18,2025-11-07,45,43,1072.5,"30, 31, 32, 33, 34",2025-11-08
3,2025-11-08,22,20,489.0,"30, 31, 32, 33, 34",2025-11-08

In [5]:
result.dtypes

DATA                 dbdate
TOTAL_NOTAS           Int64
NOTAS_REALIZADAS      Int64
VALOR_TOTAL         float64
CEPS                 object
CREATED_AT           dbdate
dtype: object